.task_block{
    border: 3px solid #000;
    display: grid;
    grid-template-columns: 4fr 1fr;
    min-height: 150px;
    max-width: 100%;
}

.title {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Bad Script', cursive;
    padding: 10px;
    word-wrap: break-word;
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
    background-color: #fff;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.confirm, .delete{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.confirm:hover,.delete:hover {
    transform: scale(1.1);
    transition: 400ms;
}

img {
    width: 100%;
    height: 100%;
}

